/* styles goes here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.card {
    background: transparent;
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

.all-screens {
    display: block;
}

#answer-buttons-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

#game-screen {
    display: none;
}

#goodbye-screen {
    display: none;
}

#welcome-screen {
    background-color: bisque;
    width: 100%;
    height: 40vh;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
}

#welcome-screen input::placeholder{
    color: #000;
    /* background: #333; */
}

button{
    background-color: #424489;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* border-style: inset; */
    line-height: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
}

#correctCounter, #inCorrectCounter{
    font-size: 20px;
    /* font-weight: bold; */
    line-height: 2;
    display: grid;
    grid-template-columns: max-content;
}

p{
    font-weight: bold;
    font-size: 30px;
}